.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: all 0.15s ease-in-out;
}

.storybook-button--primary {
  color: white;
  background-color: #34b1ff;
}

.storybook-button--primary:hover {
  background-color: #0093ee;
}

.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.storybook-button--border {
  border: 2px solid #282828;
}

.storybook-button--shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}